html,
body {
	margin: 0;
	padding: 0;
	background: rgb(189, 195, 199);
	background: linear-gradient(90deg, #141e30 0%, #243b55 100%);
}

body {
	margin: 0;
	font-family: 'Texturina', serif;
	font-size: 1.3rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
